.mobile-container {
    width: 100%;
    display: flex;
    z-index: 100;
    overflow: auto;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: stretch;
    justify-content: space-between;
}

.mobile-container01 {
    width: 362px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f3f3f3;
}

.mobile-container02 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-image {
    width: 200px;
    object-fit: cover;
}

.mobile-container03 {
    width: 100%;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-image1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
}

.mobile-container04 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    font-size: 40px;
    align-self: stretch;
    align-items: flex-start;
    margin-left: 25px;
    flex-direction: column;
    justify-content: center;
}

.mobile-text01 {
    font-size: 20px;
}

.mobile-container05 {
    height: 302px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    padding-bottom: 93px;
    justify-content: flex-start;
}

.mobile-container06 {
    width: 304px;
    height: 301px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-container07 {
    width: 304px;
    height: 301px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-text02 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 15px;
}

.mobile-text03 {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
}

.mobile-text04 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
    margin-bottom: 15px;
}

.mobile-container08 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-container09 {
    flex: 0 0 auto;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mobile-text05 {
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
}

.mobile-text06 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
    margin-bottom: 15px;
}

.mobile-container10 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-text07 {
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
}

.mobile-text08 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
    margin-bottom: 15px;
}

.mobile-button {
    color: #ffffff;
    width: 118px;
    padding: 10px;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #7e22ce;
}

.mobile-text09 {
    font-family: "Arial";
}

.mobile-container11 {
    width: 100%;
    height: 328px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mobile-container12 {
    width: 311px;
    height: 535px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-container13 {
    width: 311px;
    height: 535px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-text10 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 27px;
}

.mobile-text11 {
    color: var(--dl-color-gray-500);
    font-size: 16px;
    margin-bottom: 10px;
}

.mobile-text12 {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

.mobile-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-text13 {
    color: var(--dl-color-gray-500);
    font-size: 16px;
    margin-bottom: 10px;
}

.mobile-text14 {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

.mobile-separator1 {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-text15 {
    color: var(--dl-color-gray-500);
    font-size: 16px;
    margin-bottom: 10px;
}

.mobile-text16 {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

.mobile-container14 {
    flex: 0 0 auto;
    width: 464px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mobile-container15 {
    width: 100%;
    height: 263px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-text19 {
    color: rgb(126, 34, 206);
    font-size: 14px;
    font-style: normal;
    margin-top: 80px;
    font-weight: 600;
    margin-bottom: 5px;
}

.mobile-text22 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
}

.mobile-container16 {
    flex: 0 0 auto;
    width: var(--dl-size-size-large);
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-text23 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
}

.mobile-text26 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
}

.mobile-separator2 {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: 0px;
    border-color: #7e22ce;
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-container17 {
    flex: 0 0 auto;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
}

.mobile-container18 {
    flex: 0 0 auto;
    width: var(--dl-size-size-large);
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-text27 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
}

.mobile-text30 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
}

.mobile-separator3 {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: 0px;
    border-color: #7e22ce;
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-container19 {
    flex: 0 0 auto;
    width: var(--dl-size-size-large);
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mobile-text31 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
}

.mobile-text34 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
}

.mobile-separator4 {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: 0px;
    border-color: #7e22ce;
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-container20 {
    width: 100%;
    height: 185px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-container21 {
    flex: 0 0 auto;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mobile-text35 {
    font-size: 18px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 500;
}

.mobile-container22 {
    width: 100%;
    height: 201px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-container23 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mobile-text36 {
    font-size: 18px;
    font-style: normal;
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 8px;
}

.mobile-text37 {
    color: var(--dl-color-gray-500);
    font-size: 12px;
    margin-bottom: var(--dl-space-space-twounits);
}

.mobile-container24 {
    width: 100%;
    height: 168px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-container25 {
    flex: 0 0 auto;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-container26 {
    width: 100%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-text38 {
    font-style: normal;
    font-weight: 500;
}

.mobile-text39 {
    color: #3a3a3a;
}

.mobile-separator5 {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-container27 {
    width: 100%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-text40 {
    font-style: normal;
    font-weight: 500;
}

.mobile-text41 {
    color: rgb(58, 58, 58);
}

.mobile-separator6 {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.mobile-container28 {
    width: 100%;
    height: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-text42 {
    font-style: normal;
    font-weight: 500;
}

.mobile-text43 {
    color: rgb(58, 58, 58);
}

.mobile-container29 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
}

.mobile-container30 {
    flex: 0 0 auto;
    width: var(--dl-size-size-medium);
    height: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-container31 {
    flex: 0 0 auto;
    width: var(--dl-size-size-medium);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-container32 {
    flex: 0 0 auto;
    width: var(--dl-size-size-medium);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-container33 {
    flex: 0 0 auto;
    width: 412px;
    height: 1015px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-container34 {
    width: 377px;
    height: 553px;
    display: flex;
    margin-top: 70px;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: #f3f3f3;
}

.mobile-container35 {
    width: 306px;
    height: 564px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    padding-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-text47 {
    font-size: 18px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 500;
    margin-bottom: var(--dl-space-space-twounits);
}

.mobile-container36 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mobile-text48 {
    font-style: normal;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-halfunit);
}

.mobile-container37 {
    flex: 0 0 auto;
    width: 100%;
    /* border: 2px dashed rgba(120, 120, 120, 0.4); */
    height: 100px;
    display: flex;
    align-items: flex-start;
}

.mobile-container38 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mobile-text49 {
    font-style: normal;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-halfunit);
}

.mobile-container39 {
    flex: 0 0 auto;
    width: 100%;
    /* border: 2px dashed rgba(120, 120, 120, 0.4); */
    height: 100px;
    display: flex;
    align-items: flex-start;
}

.mobile-container40 {
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    justify-content: space-between;
}

.mobile-text50 {
    font-style: normal;
    font-weight: 600;
}

.mobile-text51 {
    font-style: normal;
    font-weight: 600;
}

.mobile-container41 {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.mobile-text52 {
    font-style: normal;
    font-weight: 600;
}

.mobile-text53 {
    font-style: normal;
    font-weight: 600;
}

.mobile-container42 {
    width: 100%;
    height: 113px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.mobile-button1 {
    color: var(--dl-color-gray-black);
    width: 258px;
    height: 50px;
    padding: 10px;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #7e22ce;
}

.mobile-text54 {
    color: #ffffff;
    font-style: normal;
    font-family: "Arial";
    font-weight: 700;
}

@media(max-width: 1200px) {
    .mobile-container14 {
        width: 711px;
    }

    .mobile-container15 {
        width: 100%;
        height: 218px;
    }

    .mobile-container17 {
        width: 506px;
    }

    .mobile-container18 {
        height: 146px;
    }

    .mobile-container19 {
        height: 146px;
    }

    .mobile-container33 {
        width: 711px;
    }
}

@media(max-width: 767px) {
    .mobile-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-separator1 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-separator2 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-separator3 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-separator4 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-separator5 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-separator6 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}

@media(max-width: 1100px) {
    .mobile-container {
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-start;
    }

    .mobile-container01 {
        width: 100%;
        background-color: #ffffff;
    }

    .mobile-container02 {
        width: 100%;
        height: 61px;
    }

    .mobile-image {
        width: 61px;
        height: 59px;
        align-self: flex-end;
        margin-top: 0px;
        margin-right: 0px;
    }

    .mobile-container03 {
        height: 134px;
        align-self: flex-start;
        margin-bottom: 0px;
        padding-bottom: 4px;
        justify-content: center;
    }

    .mobile-image1 {
        width: 80px;
        height: 80px;
        margin-left: 0px;
    }

    .mobile-container04 {
        height: 100%;
        margin-left: var(--dl-space-space-unit);
    }

    .mobile-text {
        font-size: 25px;
        font-style: normal;
        margin-top: 0px;
        font-family: Exo 2;
        font-weight: 500;
        margin-bottom: var(--dl-space-space-halfunit);
    }

    .mobile-text01 {
        color: var(--dl-color-gray-500);
        font-size: 14px;
    }

    .mobile-container05 {
        width: 100%;
        height: 357px;
        align-self: center;
        padding-top: var(--dl-space-space-halfunit);
        padding-bottom: 0px;
    }

    .mobile-container06 {
        width: 320px;
        height: 326px;
        padding-left: var(--dl-space-space-halfunit);
        border-radius: 25px;
        padding-right: var(--dl-space-space-halfunit);
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f3f3f3;
    }

    .mobile-container07 {
        width: 275px;
        height: 288px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .mobile-text02 {
        font-size: 19px;
        margin-top: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-text03 {
        font-size: 30px;
    }

    .mobile-text04 {
        font-size: 16px;
    }

    .mobile-container09 {
        width: 149px;
        height: 101px;
        align-items: flex-start;
    }

    .mobile-text05 {
        font-size: 18px;
    }

    .mobile-text06 {
        color: var(--dl-color-gray-500);
        font-size: 16px;
    }

    .mobile-container10 {
        width: 50%;
        height: 97px;
        justify-content: center;
    }

    .mobile-text07 {
        font-size: 18px;
    }

    .mobile-text08 {
        font-size: 16px;
    }

    .mobile-button {
        width: 100%;
        height: 101px;
    }

    .mobile-text09 {
        padding: var(--dl-space-space-halfunit);
        font-size: 16px;
        font-style: normal;
        font-family: Arial;
        font-weight: 700;
        background-color: rgb(126, 34, 206);
    }

    .mobile-container11 {
        height: 261px;
        margin-top: 12px;
    }

    .mobile-container12 {
        width: 323px;
        height: 290px;
        margin-top: var(--dl-space-space-halfunit);
        align-items: center;
        border-radius: 25px;
        margin-bottom: var(--dl-space-space-halfunit);
        background-color: #f3f3f3;
    }

    .mobile-container13 {
        width: 268px;
        margin-top: var(--dl-space-space-oneandhalfunits);
        align-items: flex-start;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-text10 {
        font-size: 18px;
    }

    .mobile-text11 {
        font-size: 14px;
    }

    .mobile-text12 {
        font-size: 15px;
    }

    .mobile-separator {
        margin-top: var(--dl-space-space-halfunit);
        margin-bottom: var(--dl-space-space-halfunit);
    }

    .mobile-text13 {
        font-size: 14px;
    }

    .mobile-text14 {
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
    }

    .mobile-separator1 {
        margin-top: var(--dl-space-space-halfunit);
        margin-bottom: var(--dl-space-space-halfunit);
    }

    .mobile-text15 {
        font-size: 14px;
    }

    .mobile-text16 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }

    .mobile-text17 {
        font-size: 15px;
    }

    .mobile-container14 {
        width: 349px;
        align-self: center;
        margin-right: 0px;
    }

    .mobile-container15 {
        width: 289px;
        height: 287px;
        margin-top: var(--dl-space-space-unit);
    }

    .mobile-text19 {
        color: rgb(126, 34, 206);
        font-size: 14px;
        font-style: normal;
        margin-top: var(--dl-space-space-unit);
        font-weight: 600;
    }

    .mobile-text22 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-container16 {
        width: 100%;
    }

    .mobile-text23 {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
    }

    .mobile-text26 {
        color: var(--dl-color-gray-500);
    }

    .mobile-separator2 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-container17 {
        width: 100%;
        height: 94px;
        align-items: flex-start;
    }

    .mobile-container18 {
        width: 50%;
        height: 94px;
        padding-right: var(--dl-space-space-unit);
    }

    .mobile-text27 {
        font-size: 18px;
    }

    .mobile-text30 {
        color: var(--dl-color-gray-500);
    }

    .mobile-separator3 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-container19 {
        width: 50%;
        height: 100%;
        padding-left: 0px;
    }

    .mobile-text31 {
        font-size: 18px;
    }

    .mobile-text34 {
        color: var(--dl-color-gray-500);
    }

    .mobile-separator4 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-container20 {
        height: 500px;
        padding-bottom: 0px;
    }

    .mobile-container21 {
        width: 100%;
        height: 100%;
        margin-top: var(--dl-space-space-unit);
        align-items: flex-start;
        justify-content: flex-start;
    }

    .mobile-text35 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    .mobile-container22 {
        height: 465px;
        align-items: center;
        padding-bottom: 0px;
    }

    .mobile-container23 {
        width: 292px;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .mobile-text36 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
    }

    .mobile-text37 {
        font-size: 14px;
    }

    .mobile-container25 {
        width: 100%;
        padding-right: 0px;
    }

    .mobile-text38 {
        font-size: 18px;
    }

    .mobile-text39 {
        color: rgb(58, 58, 58);
        font-size: 18px;
    }

    .mobile-separator5 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-text40 {
        font-size: 18px;
    }

    .mobile-text41 {
        color: rgb(58, 58, 58);
        font-size: 18px;
    }

    .mobile-separator6 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .mobile-text42 {
        font-size: 18px;
    }

    .mobile-text43 {
        color: rgb(58, 58, 58);
        font-size: 18px;
    }

    .mobile-container29 {
        height: 196px;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-container30 {
        width: var(--dl-size-size-medium);
    }

    .mobile-container31 {
        width: var(--dl-size-size-medium);
    }

    .mobile-container32 {
        width: var(--dl-size-size-medium);
        padding-left: 0px;
    }

    .mobile-container33 {
        width: 100%;
        height: 581px;
        align-self: center;
    }

    .mobile-container34 {
        width: 100%;
        margin-top: var(--dl-space-space-oneandhalfunits);
        border-radius: 40px;
    }

    .mobile-container35 {
        width: 298px;
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
        margin-right: 0px;
    }

    .mobile-text47 {
        font-size: 18px;
    }

    .mobile-container36 {
        width: 100%;
        flex-direction: column;
    }

    .mobile-text48 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }

    .mobile-container37 {
        height: 79px;
    }

    .mobile-container38 {
        width: 100%;
        flex-direction: column;
    }

    .mobile-text49 {
        font-size: 16px;
    }

    .mobile-container39 {
        height: 79px;
    }

    .mobile-text50 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }

    .mobile-text51 {
        font-size: 16px;
    }

    .mobile-text52 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }

    .mobile-text53 {
        font-size: 16px;
    }

    .mobile-button1 {
        width: 100%;
        position: relative;
        bottom: -15px;
        height: 82px;
        padding: 010px;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mobile-text54 {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-style: normal;
        font-family: Arial;
        font-weight: 700;
    }
}